body {
    font-family: Montserrat, sans-serif;
    background-color: #e5e8c4;
}
.header-content {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.header-text {
    flex: 1;
}
profile-frame {
    width: 800px;
    height: 800px;
    background-color: #831515;
    border-radius: 50%;
    margin-left: 20px;
}
profile-picture {
    max-width: 100%;
    border-radius: 50%;
}